.default .dygraph-axis-label {
  color: #35414a;
}

.dark .dygraph-axis-label {
  color: #fff;
}

.dygraph-annotation {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  border: 1px solid;
}
